
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/carousel.png");
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
  
    &__bg {
      font: blue;
    }
  
    &__title {
      font-size: 5vh;
      line-height: 1;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
  
      // TODO: add the underline
    }
  
    &__subtitle {
      font-size: 3vh;
      font-weight: 500;
      line-height: 1.2;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: -0.018em;
    }
  
    &__cta {
      display: flex;
      width: 100%;
      margin: 1em auto;
      justify-content: space-around;
      font-size: 2.3vh;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: -0.018em;
  
      &_item {
        margin: 1.3em;
      }
  
      .hero__cta_button {
        @include peach();
        font-size: 1.6vh;
        display: block;
        margin: 1em auto;
        padding: 1em 1em;
      }
    }
  
    @include media("<=phone") {
      height: 100vh;
  
      &__cta {
        display: block;
      }
    }
  }