.dashboard {
    &__wrapper {
        max-width: 960px;
        margin: auto;
        padding: 1em;
    }

    &__title_wrapper {
        display: flex;
        margin-bottom: 1em;
        justify-content: space-between;
        align-items: center;
    }

    &__title {

        h1 {
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 1em;
        }
        &--underline {
            text-decoration: underline solid $secondary 5px;
        }

    }
    &__button {
        @include peach();
        padding: 0.3em 1em;
    }
    
    // Stats Section
    &__stats_wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        grid-gap: 1em;
        margin: auto 0;
    }

    &__stats_item {
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 8rem;
        // padding: 1em;
        // margin: 1em 0;

        h1 {
            color: $secondary;
            font-weight: bolder;
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;

        @include media("<=tablet") {
            grid-template-columns: 1fr;
        }
    }
    // Workstream Card 
    &__workstream {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;
        background: white;
        margin: 1em 0;
        padding: 1em;

        &_item {
            padding-bottom: 1em;
            border-bottom: 1px $primary solid;
            display: flex;
            align-items: center;
            color: $secondary;
            &:link {
                text-decoration: none;
            }

            &_footer {
                border-bottom: none;
            }
        }
        &_client {
            font-weight: bold;
            margin-left: 1em;
        }

        &_msg {
            margin-left: 1em;
        }
        &_date {
            margin-left: auto;
            padding-left: .5em;
        }
        &_seemore {
            margin-left: auto;
        }
    }

    // Workstream Card 
    &__timesheet {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;
        background: white;
        margin: 1em 0;
        padding: 1em;

        &_item {
            padding-bottom: 1em;
            border-bottom: 1px $primary solid;
            display: flex;
            align-items: center;
            color: $secondary;
            &:link {
                text-decoration: none;
            }

            &_footer {
                border-bottom: none;
            }
        }
        &_client {
            font-weight: bold;
            margin-left: 1em;
        }

        &_msg {
            margin-left: 1em;
        }
        &_date {
            margin-left: auto;
            padding-left: .5em;
        }
        &_seemore {
            margin-left: auto;
        }
    }

    .your_jobs__listing {
        grid-column: 1/-1;
    }
}