.freelancer {
    // background: blue;
    
    &__wrapper {
        max-width: 960px;
        margin: auto;
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr 3fr;
        padding: 1em;
    }

    &__item {
        background: white;
        border-bottom: 1px solid $bg-sec;

        &_button {
            @include peach();
            font-size: 1.1em;
            line-height: 2em;
            border: none;
            padding: 0 1em;
        }

        &_title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .freelancer__heading {
                text-transform: uppercase;
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 1em;
            
                &--underline {
                    text-decoration: underline solid $secondary 5px;
                }
            }
            
        }

        &_search {
            .freelancer__search {
                display: flex;
                background: white;
                input {
                    width: 100%;
                    border: none;
                    font-size: 1.3em;
                    font-style: italic;
                }
    
                button {
                    border: none;
                    background: white;
                    font-weight: bold;
                    padding: 0 1em;
                    &:hover {
                        background: darken($color: $bg-sec, $amount: 2);
                    }
                }
            }
        }

        &_jobs {
            display: grid;
            grid-template-rows: auto 1fr;
            grid-gap: 1em;

            .freelancer__jobs_header {
                display: flex;
                align-items: center;
                font-weight: bold;
                border-bottom: 1px solid $bg-sec;
                font-size: 1.2em;
                line-height: 2.2em;

                &_sort  select{
                    background: none;
                    border: none;
                }

                span {
                    padding-left: 1em;
                }
            }
            .freelancer__jobs_header_sort {
                margin-left: auto;
                background-color: none;
            }
        }

        &_filter {
            margin-bottom: auto;

            &_header {
                text-transform: uppercase;
                font-weight: bold;
                display: flex;
                justify-content: space-between;
                padding: .5em;

                span:nth-last-child(1) {
                    color: $secondary;
                }
            }

            &_body {
                padding: .5em;
                border-bottom: 1px solid $bg-sec;
                input {
                    // vertical-align: sub;
                    border: 1px solid #34495E;
                    border-radius: 4px;
                    outline: none;
                    transition-duration: 0.3s;
                    background-color: $primary;
                    cursor: pointer;
                }
                label {
                    display: block;
                    text-transform: capitalize;
                    
                }
            }
        }
        &_title {
            grid-column: 1/-1;

        }
        &_search {
            grid-column: 1/-1;
        }
        &_jobs {
            grid-column: 2/-1;

            @include media('<=730px') {
                grid-row: 3/4;
                grid-column: 1/-1;
            }
        }

        &_filter {
            @include media("<=730px") {
                display: none;
            }
        }
    }

    &__summary {
        display: flex;
        border-bottom: 1px solid $bg-sec;

        &_item_title {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &_item {
            padding: 1em;
            a {
                color: $secondary;
            }
        }

        &_name {
            font-size: 1.5em;
        }

        &_location {
            margin-bottom: 1em;
        }
    }

    &__tag {
        border: 3px solid $secondary;
        border-radius: 500px;
        color: $secondary;
        text-transform: capitalize;
        font-weight: bold;
        padding: 0 1em;
        &:hover {
            text-decoration: none;
        }
    }
    &__jobs_footer {
        margin-left: auto;
        padding: 1em;
    }


}