
.login {
    text-align: center;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.login__container {
    background: #fff;
    border-radius: 10px;
    border-top: .7em solid $secondary;
    margin: auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.login__title {
    text-transform: uppercase;
    font-weight: 600;
}

.login__subtitle {
    font-size: 1.5em;
    color: #333333;
    line-height: 1.2;
}

.login__form {
    display:flex;
    flex-direction: column;
}

.login__labels {
    color: #333333;
    padding-left: 7px;
    line-height: 2;
    margin-top: 1em;
}

.login__input {
    background: $input-field;
    line-height: 2em;
    border: none;
    margin-bottom: 1em;
    input[type="text"], input[type="password"] { 
        display: block; 
        background:$bg-sec; 
        text-align:justify;  
        font-size: 150%; 
        margin-bottom: 1em;
        padding-left: 1em;
    } 
}



.login__forget-passwd {
    margin-left: auto;
    margin-bottom: 1em;
    color: $primary;
    text-decoration: none;
    &:link {
        text-decoration: none;
    }
}

.login__button {
    @include peach();
    cursor: pointer;
    height: 50px;
    font-size: 1em;
}

.login__text {
    margin: 1em;
}

.login__social-icons {
    margin: 1em;
    a {
        margin: 1em;
        color: $primary;
        text-decoration: none;
        &:hover {
            color: $secondary;
        }
    }
}

.login__signup {
    margin-bottom: 1em;
    color: $primary;
    text-decoration: none;
    &:hover {
        color: $secondary;
    }
}